<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./_css/style.css" media="screen" />
</head>

<body>
    <!-- {% extends "base.html" %} -->

    <!-- {% block content %} -->

    <main>
        <section>

            <img class="img-450px" src="./assets/Fundo_Mobile.png" alt="Fundo">
            <img class="img-1280px" src="./assets/Fundo_HD.png" alt="Fundo">
            <img class="img-1920px" src="./assets/Fundo_FullHD.png" alt="Fundo">
            <img class="img-2560px" src="./assets/Fundo_UltraWide.png" alt="Fundo">

        </section>
    </main>

    <!-- {% endblock %} -->
</body>

</html>