.desenvolvimentoMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.desenvolvimentoH1 {
    text-align: center !important;
    margin-bottom: 1rem !important;
}

.desenvolvimentoP {
    text-align: center !important;
    width: 50%;
}

.desenvolvimentoBtn {
    margin-top: 0.5rem;
}

.desenvolvimentoBtn a {
    color: #151E3D;
    text-decoration: none;
}