div {
    background-color: #F9F9F9;
}

section, .container, .containerDiv1{
    background-color: #E5D6A5;
    border-radius: 8px !important;
}

.my_imgLogSM{
    display: none;
    border-radius: 8px !important;
}

.my_imgLog, .containerDiv2{
    border-radius: 8px !important;
}

.my_divImgLog{
    display: flex !important;
    align-self: center !important;
    justify-content: center !important;
    border-radius: 8px !important;
}

.card{
    border-radius: 8px !important;
}

@media screen and (max-width: 1399px){
    .my_imgLog{
        display: none;
    }
    .my_imgLogSM{
        display: block;
        height: auto;
        width: auto;
    }
}